<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI0cKSbVatmq7Ot4Y0jquSeOcl1xekcXM</string>
	<key>GCM_SENDER_ID</key>
	<string>762017174571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ngdemo17</string>
	<key>PROJECT_ID</key>
	<string>instagram-3e770</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-3e770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762017174571:ios:8067fd783b5b26fd19466e</string>
</dict>
</plist>